<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> My  current projects</title>
  </head>
  <body>
    {{> header}}
    <p>Cool project 1</p>
    <p>Cool project 2</p>
    {{> footer}}
  </body>
</html>
